*{
	padding:0;
	margin:0;
	list-style:none;
	text-decoration:none
	
}
.top-head{background-image:url(main_image_ofpage.jpg); background-size:cover; width:100%; height:750px;}
.navbar .navbar-brand{
	margin-left:12%;
	margin-top:1%;
}.nav-link{
		margin-top:-1%;
		margin:15px;
		color:#fff;
		
		font-family: Montserrat;
		font-style: normal;
		
		font-size: 15px;
		color: rgba(255,255,255,1);
		margin-left:10px;
		
	}
	.navbar ul li a:hover{
		color:#fff;
	}

.banner{
	margin-left:2%;
	margin-top:10%;
	justify-content:center;
	min-height:100vh;
	text-align:center;
	
	
}
.banner .logo img{
	width:70px;
	margin-top:-7%;
}
.banner .caption h1{font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		color: rgba(255,255,255,1);
		margin-left:10px;}

   .part1{
	   margin-top:5%;
   }
   
   .part2{
	   margin-top:5%;
   }
   .part3{
	   margin-top:5%;
   }
   .part4{
	   margin-top:5%;
   }
   .part5{
	   margin-top:5%;
   }
   .part6{
	   margin-top:5%;
   }
   
   .card{
	   box-shadow:0px 0px 20px 1px rgba(0,0,0,0.2);
   }
   
   .card-body h4{
	   white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(43,60,77,1);
   }
   .card-body h5{
	  white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(43,60,77,1);
margin-bottom:14%;	
   }
    .card-body p{
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(101,117,133,1);
	}
    .card .read{
		background-image:linear-gradient(to right, #4a4584, #9c5573);
	color:#fff;
		
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal
	}
	 .btn{
		
		border-radius:25px;
		height:44px;
		
	}
   
   .card button i{
	   margin-left:5px;
   }
   
   .part4 h1{
	   font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		color: rgba(43,60,77,1);
   }
    .part4 p{
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(101,117,133,1);
	}
	 .part5 h1{
	   font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		color: rgba(43,60,77,1);
   }
    .part5 p{
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(101,117,133,1);
	}
	.footer_nav{
		
		display:flex;
		
	}
	 nav ul li{
		display:flex;
	}
 .footer_nav nav  a{
	 text-decoration:none;
 }
	.foot-nav nav{
			border-top:1px solid black;
			margin-top:0%;
		}
	@media only screen and (max-width: 850px){
		.top-head{background-image:url(pexels-robinson.jpg); background-size:cover; width:100%; height:750px;}
		
		.foot-nav nav{
			border-top:1px solid black;
			margin-top: 0px;
		}
		.foot-nav .navbar a{
			margin-left:0%;
			font-size:20px;
			color:#fff;
		}
		
		.foot-nav .nav .active1{
			margin-left:-184%;
		}
		.foot-nav .nav .active2{
			margin-left:-87%;
			margin-top:-67%;
		}
		.foot-nav .nav .active3{
			margin-left:-13%;
			margin-top:-69%;
		}
		button:not(.toggle), .button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, input[type="button"], input[type="reset"], input[type="submit"], .bg-accent, .bg-accent-hover:hover, .bg-accent-hover:focus, :root .has-accent-background-color, .comment-reply-link {
    background-color: transparent;
	
	
	
}



	}
	
	