/*read.css */

button:not(.toggle), .button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, input[type="button"], input[type="reset"], input[type="submit"], .bg-accent, .bg-accent-hover:hover, .bg-accent-hover:focus, :root .has-accent-background-color, .comment-reply-link {
    background-color: black;
	width: 200px;
    height: 50px;
	
}


.navbar .navbar-brand{
	margin-left:5%;
	margin-top:1%;
}.nav-link{
		margin-top:-1%;
		margin:15px;
		color:#fff;
		
		font-family: Montserrat;
		font-style: normal;
		
		font-size: 15px;
		color: rgba(255,255,255,1);
		margin-left:10px;
		
	}
	.navbar ul li a:hover{
		color:#fff;
	}
.box{
	width:400px;
	height:2740px;
	 box-shadow:0px 0px 20px 1px rgba(0,0,0,0.2);
	margin-top:2%;
}
.box1{
	width:350px;
	height:350px;
	
	margin-top:2%;
	margin-left:60%;
	position:fixed;
}
.box1 form button{
	margin-left:-5%;
	background-color:#000;
	color:#fff;
	border:none;
	width: 66px;
    height: 35px;
}
.box1 .bnn1{
	margin-top:10%;
	
}
.box1 h5{
	margin-top:5%;
}

.box1 form button:hover{
	background-color:#000;
}

.form1 button{
	width:200px;
	height:50px;
	margin-top:3%;
}

.header-area .sticky .scroll-header{
position:fixed; left:0;
right:0;
z-index:99999;}





.box1 form input{margin-top:10%;
background-color:#000;}


	

	.foot-nav nav{
			border-top:1px solid black;
			margin-top: 65%;
		}
		.form1 .check input{
			
	
}
		
	@media only screen and (max-width: 850px){
		.foot-nav nav{
			border-top:1px solid black;
		}
		.foot-nav .navbar a{
			margin-left:1%;
			font-size:20px;
			color:#fff;
		}
		
		.foot-nav .nav .active1{
			margin-left:-215%;
		}
		.foot-nav .nav .active2{
			margin-left:-135%;
			margin-top:-67%;
		}
		.foot-nav .nav .active3{
			margin-left:-55%;
			margin-top:-67%;
		}
	}
	
	.text h1{
		 white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(43,60,77,1);
	}
	.text p{
		
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
	
		color: rgba(101,117,133,1);
	}
	.text p::first-letter{
		float:left;
		padding-right:8px;
		font-size:70px;
		margin-top:-4%;
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
	
		color: rgba(101,117,133,1);
	}
	.box h1{
		white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(43,60,77,1);
		margin-left: 0%;
	}
	.box p{
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
	
		color: rgba(101,117,133,1);
	}
	.box h3{
		background-image:linear-gradient(to right, #4a4584, #9c5573);
		white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color:#fff;
		border-radius:5px;
		margin-top:3%;
		
	}
	.box h3{
		text-align:center;
	}
	
.box label{
	font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		
}	.box  h4{
	font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
	font-size: 20px;
		color: rgba(101,117,133,1);
}
	/*.box h1{
		margin-left:-2%;
	} */
	
	
	
	
	
	
	
	
	@media only screen and (max-width: 850px){
		
		.box1{
	width:350px;
	height:317px;
	margin-left:7%;
	
	margin-left:60%;
	position:relative;
	margin-top:210%;
	margin-left:7%;
		 box-shadow:0px 0px 20px 1px rgba(0,0,0,0.2);
	}
	
.foot-nav nav {
    border-top: 0px solid black;
    margin-top: 71%;
}
	
.box1 h1{
	margin-top:110%;
	margin-left:4%;
}
.form1{
	margin-top:20%;
	margin-left:5%;
}
.form1 p{
	width:100%;
	
}
.form1 input{
	margin-top
}
.foot-nav{margin-top:-65%;}
.form1 button{
	width:200px;
	height:50px;
	margin-top:4%;
	margin-left:3%;
}
.box1 .bnn1{
	margin-top:5%;
	width:220px;
	margin-left:3%;
}
.foot-nav .nav .active1{
			margin-left:-184%;
		}
		.foot-nav .nav .active2{
			margin-left:-87%;
			margin-top:-67%;
		}
		.foot-nav .nav .active3{
			margin-left:-13%;
			margin-top:-69%;
		}
		button:not(.toggle),  .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button,  .bg-accent, .bg-accent-hover:hover, .bg-accent-hover:focus, :root .has-accent-background-color, .comment-reply-link {
    background-color: transparent;
	width: 45px;
    height: 50px;
	
	
	
}


	}