
@media only screen and (max-width:850px){
	*{padding:0;
	margin:0px;

}


.top-head{
	background-image:url(main_image_ofpage.png);
	background-size:cover; 
	width:230px; 
	height:650px;}
	
	
	.navbar .navbar-brand{
	margin-left:12%;
	margin-top:1%;
}.nav-link{
		margin-top:-1%;
		margin:15px;
		color:#fff;
		
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
		margin-left:10px;
		
	}
	.navbar ul li{
		
	}

.banner{
	margin-left:2%;
	margin-top:50%;
	justify-content:center;
	min-height:100vh;
	text-align:center;
	
	
}
.banner .logo img{
	width:50px;
	margin-top:-7%;
	margin-left:5%;
}
.banner .caption h1{font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
		margin-left:10px;}
.banner .caption p{
	font-family: Montserrat;
		font-style: normal;
		
		font-size: 25px;
		color: rgba(255,255,255,1);
		margin-left:10px;
}

.banner .from {
	top:0;
	left:0;
	right:0;
	margin-left:2%;
}
.banner .from .btn1 input{
	margin-left:10%;
	width:200px;
	height:40px;
}
.banner .from .btn2 input{
	margin-left:-280%;
	margin-top:40%;
	width:110px;
	height:50px;
}

.banner h2{
	font-family: Montserrat;
		font-style: normal;
		margin-top:4%;
		font-size: 25px;
		color: rgba(255,255,255,1);
		margin-left:10px;
}
.banner .button1{
	margin-left:2%;
	padding:-2%;
	margin-top:2%;
}

.banner .button1 .bn1 img{
	width:130px;
	height:80px;
	margin-left:10%;
}
.banner .button1 .bn2 img{
	margin-right:100%;
	width:130px;
	height:80px;
}
.banner .arrow img{
	width:30px;
	margin-top:10%;
}

   
   
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}
@media only screen and (max-width:850px)
   { 
   
   button:not(.toggle), .button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, input[type="button"], input[type="reset"], input[type="submit"], .bg-accent, .bg-accent-hover:hover, .bg-accent-hover:focus, :root .has-accent-background-color, .comment-reply-link {
    background-color: transparent;
}

 .main_banner{
	 margin-top:10%;
 }
.main_banner img{
		margin-left:-10%;
		height:300px;
		width:100%;
	}
.main_banner .main .photo1{
		 height:300px;
		 
		position:absolute;
		margin-left: -20px;
		
	 }
	  .main .photo2{
		  height:300px;
		position:absolute;
		margin-top:25%;
		margin-left:5%;
		
	  }

.banner1{
	margin-top:108%;	
		margin-left:40px;
	}

.banner1 h5{
		
		white-space: nowrap;
		
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(0,0,0,1);
		letter-spacing: 4.1px;
	}
	
	
	
	.banner1 h1{
		
		white-space: nowrap;
		line-height: 39px;
		margin-left:-13%;
		margin-top: -4.5px;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(43,60,77,1);
	}
	.banner1 p{
		
		
		margin-left:-30%;
	
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size:12px;
		color: rgba(43,60,77,1);
	}
	.main_banner1{
		
		margin-left:-9%;
	}
	
	.sub-banner{
		margin-left:-25%;
	}
	.sub-banner .photo1{
		height:200px;
		position:absolute;
		
		
	}
	.sub-banner .photo2{
		margin-top:15%;
		margin-left:20%;
		height:200px;
		position:absolute;
		transform:rotate(5deg);
	}
.banner2{
	margin-top:120%;	
 margin-left:40px;
}


.banner2 p{
	font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(101,117,133,1);
}

 .main_banner3{
		
		margin-left:-20%;
	}

.sub-banner2 h1{
		white-space: nowrap;
		
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(43,60,77,1);
	}
	.sub-banner2 p{
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		margin-left:-22%;
		font-size: 15px;
		color: rgba(101,117,133,1);
	}
	
.photo{
		margin-top:15%;
		margin-left:8%;
	}
.photo .photo1{
		height:200px;
		position:absolute;
		transform:rotate(-2deg);
		
	}
	.photo .photo2{
		margin-top:-15%;
		margin-left:24%;
		height:200px;
		position:absolute;
		transform:rotate(-2deg);
	}
.main_banner4{
		margin-top:105%;
		margin-left:-8%;
	}
	
	
	.sub .photo1{
		height:200px;
		position:absolute;
		
		
	}
	.sub .photo2{
		margin-top:15%;
		margin-left:24%;
		height:200px;
		position:absolute;
		
	}
	.banner3{
		
		margin-top:110%;
		
		
		
	}
	.banner10 img{
		margin-top:110%;
		margin-left:20%;
	}
	.banner3 h1{
		white-space: nowrap;
		margin-left:10%;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(43,60,77,1);}
	.banner3 p{
		margin-left:13%;
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(101,117,133,1);
	}
	  .banner3 {
		
		margin-left:4%;
	}
	
	.main_banner5{
		margin-top:20%;
		margin-left:-17%;
	}
	
.sub-banner3{
		margin-left:80px;
	}
	.sub-banner3 h1{
		margin-left:-8%;
		white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(43,60,77,1);
	}
	.sub-banner3 p{
		margin-left:-8%;
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(101,117,133,1);
	}
	.photo2{
		margin-top:15%;
		margin-left:7%;
	}
.photo2 .photo1{
		height:200px;
		position:absolute;
		transform:rotate(-2deg);
		
	}
	.photo2 .photo2{
		margin-top:-15%;
		margin-left:24%;
		
		position:absolute;
		transform:rotate(-2deg);
	}

.main_banner7 img{
	margin-top:105%;
	width:250px;
}
.main_banner8 img{
	width:100%;width:250px;
}

.footer-top{background-color:#5218b5;
height:650px;
width:100%;}
.footer-top h3{
	margin-top:35px;
	white-space: nowrap;
	font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
}
.footer-top ul li{
	color:#fff;
	margin-top:25px;
	
}
.footer-top li i{
	font-size:22px;
	padding-right:10px;
}
.footer-top img{
	width:250px;
}

.footer-top button{
	background-color:rgba(255,255,255,1);
	
}
.footer-top button btn2{
	margin-left:2px;
}
.footer-bottom-text{
	
	text-align:center;
	background:#000;
	line-height:75px;
	color:#fff;
	font-size:10px;
	margin-left:-15%;
}







}

















@media only screen and (max-width: 850px)
   { 
   

 .main_banner{
	 margin-top:5%;
 }
.main_banner img{
		margin-left:-10%;
		
		
	}
.main .photo1{
		 height:50px;
		
		position:absolute;
		
	 }
	  .main .photo2{
		  height:100px;
		position:absolute;
		margin-top:25%;
		margin-left:25%;
		
	  }

.banner1{
	margin-top:70%;	
		margin-left:40px;
	}

.banner1 h5{
		
		white-space: nowrap;
		margin-left:-5%;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,1);
		letter-spacing: 4.1px;
	}
	
	
	
	.banner1 h1{
		width:100%;
		white-space: nowrap;
		line-height: 34px;
		margin-left:-5%;
		margin-top: -4.1px;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(43,60,77,1);
	}
	.banner1 h4 {
    line-height: 1.2;
    margin-left: -17%;
    margin-top: -4.1px;
    text-align: left;
    font-size: 1.5rem;
	}

	.banner1 h2 {
    margin-left: 4%;
    font-size: 2rem;
    margin-bottom: 30px;
	}

	.banner1 p{
		
		
		margin-left: -17%;
	    width:100%;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size:20px;
		color: rgba(43,60,77,1);
	}
	.how h2{
		 margin-left:12%;
		  margin-top:15%;
		  text-align:center;
		  white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(43,60,77,1);
		width:220px;
	  }
	  
	.main_banner1{
		
		margin-left:15%;
	}
	.banner2 img{
	
 margin-left:-50%;
}


.banner2 p{
	margin-left:-60%;
	font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(101,117,133,1);
}
.banner2 h2{
	margin-left:-75%;
	white-space: nowrap;
		
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(43,60,77,1);
	
}
	
	
	

 .main_banner3{
		
		margin-left:6%;
		margin-top:35%;
	}
	.sub-banner2{
		margin-top:80%;
	}
.sub-banner2 img{
	margin-left:-15%;
}
.sub-banner2 h1{
	margin-left:-18%;
		white-space: nowrap;
		
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(43,60,77,1);
	}
	.sub-banner2 p{
		margin-left:-18%;
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		
		font-size: 20px;
		color: rgba(101,117,133,1);
	}
	
	
	.sub-banner .photo1{
		margin-left:-20%;
		margin-top:105%;
		width:100px;
		position:absolute;
		
		
	}
	.sub-banner .photo2{
		margin-top:120%;
		margin-left:15%;
		
		width:100px;
		position:absolute;
		transform:rotate(5deg);
	}
.photo{
		margin-top:15%;
		margin-left:0%;
	}
.photo .photo1{
		height:200px;
		position:absolute;
		transform:rotate(-2deg);
		
	}
	.photo .photo2{
		margin-top:-15%;
		margin-left:24%;
		height:200px;
		position:absolute;
		transform:rotate(-2deg);
	}
.main_banner4{
		
		margin-left:5%;
	}
	
	
	.sub .photo1{
		margin-top:90%;
		height:200px;
		margin-left:-10%;
		position:absolute;
		
		
	}
	.sub .photo2{
		margin-top:105%;
		margin-left:12%;
		height:200px;
		position:absolute;
		
	}
	.banner3{
		
		margin-top:5%;
		
		
		
	}
	.banner3 img{
		
		margin-top:-15%;
		margin-left:5%;
		
		
		
	}
	.banner3 h1{
		white-space: nowrap;
		margin-left:10%;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(43,60,77,1);}
	.banner3 p{
		margin-left:13%;
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(101,117,133,1);
	}
	  .banner3 {
		
		margin-left:4%;
	}
	
	.main_banner5{
		margin-top:30%;
		margin-left:20%;
	}
	
.sub-banner3{
		margin-left:-5%;
		margin-top:115%;
	}
	.sub-banner3 h1{
		margin-left:-8%;
		white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(43,60,77,1);
	}
	.sub-banner3 p{
		margin-left:-8%;
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(101,117,133,1);
	}
	.banner10{
		margin-top:-90%;
		
	}
	.photo2{
		margin-top:25%;
		margin-left:-17%;
	}
.photo2 .photo1{
		
		
		position:absolute;
		transform:rotate(-2deg);
		
	}
	.photo2 .photo2{
		margin-top:-15%;
		margin-left:24%;
		
		position:absolute;
		transform:rotate(-2deg);
	}
	
	
	
	.main_banner10{
		margin-top:115%;
		margin-left:10%;
	}
	
	
	.sub10 .photo1{
		margin-top:130%;
		margin-left:3%;
		height:200px;
		position:absolute;
		
		
	}
	.sub10 .photo2{
		margin-top:145%;
		margin-left:30%;
		height:200px;
		position:absolute;
		
	}
	.banner10{
		margin-left:-15%;
		
	}
	
	.banner10 h1{
		margin-left:34%;
		white-space: nowrap;
		
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(43,60,77,1);
	}
.banner10 p{
	margin-left:34%;
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(101,117,133,1);
}
.main_banner7 img{
	margin-top:115%;
	width:125px;
}
.main_banner8 img{
	width:100%;width:380px;
}

.footer-top{background-color:#5218b5;
height:1050px;}
.footer-top h3{
	margin-top:30px;
	white-space: nowrap;
	font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
}
.footer-top ul li{
	color:#fff;
	margin-top:20px;
	
}
.footer-top li i{
	font-size:22px;
	padding-right:10px;
}
.footer-top img{
	width:250px;
}

.footer-top button{
	background-color:rgba(255,255,255,1);
	
}
.footer-top .bnn1{
	margin-left:40%;
	margin-top:-12.5%;
}
.footer-top button btn2{
	margin-left:2px;
}
.footer-bottom-text{
	margin-top:-53%;
	text-align:center;
	background:#000;
	line-height:75px;
	color:#fff;
	font-size:10px;
	margin-left:-15%;
}







}



@media only screen and (max-width: 640px){
	.banner .arrow img{
	width:30px;
	margin-left:5%;
	margin-top:10%;
}
	
	
	
}
@media only screen and (max-width: 667px){
	
	.main_banner4 .sub{
		margin-left:-10%;
	}
	.main_banner7 img{
	margin-top:95%;
	width:280px;
}
.main_banner8 img{
	width:350px;
}
	.footer-top{background-color:#5218b5;
height:850px;
	}
.footer-top h3{
	margin-top:30px;
	white-space: nowrap;
	font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
}
.footer-top ul li{
	color:#fff;
	margin-top:20px;
	
}
.footer-top li i{
	font-size:22px;
	padding-right:10px;
}
.footer-top img{
	width:250px;
}

.footer-top button{
	background-color:rgba(255,255,255,1);
	
}
.footer-top button btn2{
	margin-left:2px;
}
.footer-bottom-text{
	margin-top:-3%;
	text-align:center;
	background:#000;
	line-height:75px;
	color:#fff;
	font-size:10px;
	margin-left:-15%;
}
	
	
}
@media only screen and (max-width:731px){
	
	.main_banner4 .sub{
		margin-left:-10%;
	}
	.main_banner7 img{
	margin-top:95%;
	width:350px;
}
.main_banner8 img{
	width:100%;width:350px;
}
	.footer-top{background-color:#5218b5;
height:750px;
width:100%;}
.footer-top h3{
	margin-top:30px;
	white-space: nowrap;
	font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
}
.footer-top ul li{
	color:#fff;
	margin-top:20px;
	
}
.footer-top li i{
	font-size:22px;
	padding-right:10px;
}
.footer-top img{
	width:250px;
}

.footer-top button{
	background-color:rgba(255,255,255,1);
	
}
.footer-top button btn2{
	margin-left:2px;
}
.footer-bottom-text{
	margin-top:13%;
	text-align:center;
	background:#000;
	line-height:75px;
	color:#fff;
	font-size:10px;
	margin-left:-15%;
}
	
	
}


@media only screen and (max-width: 850px){
	
	
	
	.top-head{
	background-image:url(pexels-robinson.png);
	background-size:cover; 
	width:100%; 
	height:666px;}
	
	
	
	.video {
    width: 385px;
    height: 280px;
    margin-left: -26px;
}
		
	.lastone{
		height:1207px;
	}
	.mybtn{
	height: 50px;
    width: 131px;
    margin-left: -29px;
}
	
	.navbar .navbar-brand{
	margin-left:-1%;
	margin-top:1%;
}.nav-link{
		margin-top:-1%;
		margin:15px;
		color:#fff;
		
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
		margin-left:10px;
		
	}
	.navbar ul li{
		
	}

.banner{
	margin-left:2%;
	margin-top:50%;
	justify-content:center;
	min-height:60vh;
	text-align:center;
	
	
}
.banner .logo img{
	width:50px;
	margin-top:-7%;
	margin-left:-3%;
}
.banner .caption h1{font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
		margin-left:10px;}
.banner .caption p{
	font-family: Montserrat;
		font-style: normal;
		
		font-size: 25px;
		color: rgba(255,255,255,1);
		margin-left:10px;
}

.banner .from {
	top:0;
	left:0;
	right:0;
	margin-left:17%;
}
.banner .from .btn1 input{
	margin-left:10%;
	width:200px;
	height:40px;
}
.banner .from .btn2 input{
	margin-left:-275%;
	margin-top:40%;
	width:110px;
	height:50px;
}

.banner h2{
	font-family: Montserrat;
		font-style: normal;
		margin-top:4%;
		font-size: 25px;
		color: rgba(255,255,255,1);
		margin-left:-25px;
}
.banner .button1{
	margin-left:8%;
	padding:-2%;
	margin-top:2%;
}

.banner .button1 .bn1 img{
	width:130px;
	height:70px;
	margin-left:30%;
}
.banner .button1 .bn2 img{
	margin-right:100%;
	width:130px;
	height:70px;
}
.banner .arrow img{
	margin-left:-8%;
	width:30px;
	margin-top:4%;
}

   
   
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	.main_banner4 .sub{
		margin-left:-10%;
	}
	.main_banner7 img{
	margin-top:105%;
	width:100%;
}
.main_banner8 img{
	width:100%;
}
	.footer-top{background-color:#5218b5;
height:767px;
width:100%;
margin-top: -24px;}
.footer-top h3{
	margin-top:30px;
	white-space: nowrap;
	font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
}
.footer-top ul li{
	color:#fff;
	margin-top:20px;
	
}
.footer-top li i{
	font-size:22px;
	padding-right:10px;
}
.footer-top img{
	width:250px;
}

.footer-top button{
	background-color:rgba(255,255,255,1);
	
}
.footer-top button btn2{
	margin-left:2px;
}
.footer-bottom-text{
	
	margin-top:-1%;
	text-align:center;
	background:#000;
	line-height:75px;
	color:#fff;
	font-size:10px;
	margin-left:-15%;
}
	
	
}
