*{
	padding:0;
	margin:0;
	list-style:none;
	text-decoration:none
	
}
.top-head{background-image:url(main_image_ofpage.png); background-size:cover; width:100%; height:750px;}
.navbar .navbar-brand{
	margin-left:12%;
	margin-top:1%;
}.nav-link{
		margin-top:-1%;
		margin:15px;
		color:#fff;
		
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
		margin-left:10px;
		
	}
	.navbar ul li a:hover{
		color:#fff;
	}
	.video{
    width: 500px;
    height: 384px;
    
	}

.banner{
	margin-left:2%;
	margin-top:10%;
	justify-content:center;
	min-height:100vh;
	text-align:center;
	
	
}
.banner .logo img{
	width:70px;
	margin-top:-7%;
}
.banner .caption h1{font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		color: rgba(255,255,255,1);
		margin-left:10px;}
.banner .caption p{
	font-family: Montserrat;
		font-style: normal;
		
		font-size: 48px;
		color: rgba(255,255,255,1);
		margin-left:10px;
}

.banner .from {
	top:0;
	left:0;
	right:0;
	margin-left:27%;
}
.banner .from .btn1 input{
	width:400px;
	height:80px;
}
.banner .from .btn2 input{
	width:200px;
	height:80px;
}

.banner h2{
	font-family: Montserrat;
		font-style: normal;
		margin-top:3%;
		font-size: 30px;
		color: rgba(255,255,255,1);
		margin-left:10px;
}
.banner .button1{
	margin-left:30%;
	padding:-2%;
	margin-top:2%;
}

.banner .button1 .bn1 img{
	width:250px;
	height:95px;
	margin-left:10%;
}
.banner .button1 .bn2 img{
	margin-right:100%;
	width:250px;
	height:95px;
}
.banner .arrow img{
	width:60px;
	margin-top:2%;
}

   
   
   
   
		.main_banner{
		margin-top:5%;
		margin-left:8%;
	}
	.main_banner .main{
		
	}
	.main_banner img{
		
		height:400px;
	}
	.banner1{
	margin-top:8%;	
		margin-left:90px;
	}
	.banner1 h5{
		
		white-space: nowrap;
		
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(0,0,0,1);
		letter-spacing: 4.1px;
	}
	.banner1 h1{
		
		white-space: nowrap;
		line-height: 59px;
		margin-top: -4.5px;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(43,60,77,1);
	}
	}
	.main img{margin-left:80px;}
	.main .photo1{
		 height:200px;
		position:absolute;
		
	 }
	  .main .photo2{
		  height:200px;
		position:absolute;
		margin-top:25%;
		margin-left:35%;
		
	  }
	  .how h2{
		 margin-left:30%;
		  margin-top:15%;
		  text-align:center;
		  	white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(43,60,77,1);
	  }
	  
	  
	  
	  
	  
	  .main_banner1{
		
		margin-left:8%;
		margin-top:5%;
	}
	.main_banner1 .sub-banner{
		margin-left:13%;
	}
	
	.sub-banner .photo1{
		height:200px;
		position:absolute;
		
		
	}
	.sub-banner .photo2{
		margin-top:10%;
		margin-left:17%;
		height:200px;
		position:absolute;
	}

.main_banner1 .banner2{
	margin-top:4%;	
		margin-left:55%;
}
.banner2 img{
	height:150px;
}
.banner2 h2{
	white-space: nowrap;
		
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(43,60,77,1)
}
.banner2 p{
	font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(101,117,133,1);
}
      
 
	  .main_banner3{
		margin-top:10%;
		margin-left:10%;
	}
	.sub-banner2{
		
		margin-left:100px;
	}
	.sub-banner2 img{
	height:250px; width:210px;
	
}
	.sub-banner2 h1{
		white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(43,60,77,1);
	}
	.sub-banner2 p{
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(101,117,133,1);
	}
	
	.photo{
		margin-top:3%;
		margin-left:7%;
	}
.photo .photo1{
		
		position:absolute;
		transform:rotate(-2deg);
		
	}
	.photo .photo2{
		margin-top:-15%;
		margin-left:24%;
		
		position:absolute;
		transform:rotate(-2deg);
	}

 .main_banner4{
		margin-top:15%;
		margin-left:10%;
	}
	
	
	.sub .photo1{
		height:200px;
		position:absolute;
		
		
	}
	.sub .photo2{
		margin-top:15%;
		margin-left:20%;
		height:200px;
		position:absolute;
		
	}
	.banner3{
		margin-left:30%;
	}
	.banner3 img{
		
		height:250px; width:240px;
		
		
		
	}
	.banner3 h1{
		margin-left:45%;
		margin-top:-8%;
		white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(43,60,77,1);}
	.banner3 p{
		margin-left:45%;
		margin-top:10px;
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(101,117,133,1);
	}
	.main_banner4 img{
		margin-left:45%; margin-top:-2%;
	}
	
	.main_banner5{
		margin-top:13%;
		margin-left:10%;
	}
	
	
	
	.main_banner10{
		margin-top:15%;
		margin-left:10%;
	}
	
	.main_banner10 img{
		height:250px; width:240px;
	}
	.sub10 .photo1{
		height:200px;
		position:absolute;
		
		
	}
	.sub10 .photo2{
		margin-top:15%;
		margin-left:18%;
		height:200px;
		position:absolute;
		
	}
	
	.banner10 img{
		margin-left:35%;
	}
	.banner10 p{
		
		margin-left:35%;
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(101,117,133,1);
	}
	.banner10 h1{
		margin-top:5%;
		margin-left:35%;
		white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(43,60,77,1);
	}
	
.sub-banner3{
		margin-left:80px;
	}
	.sub-banner3 img{
		height:250px; width:210px;
	}
	.sub-banner3 h1{
		margin-left:5%;
		white-space: nowrap;
		text-align: left;
		font-family: DM Serif Display;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(43,60,77,1);
	}
	.sub-banner3 p{
		margin-left:5%;
		font-family: Spezia Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(101,117,133,1);
	}
	.photo2{
		margin-top:3%;
		margin-left:8%;
	}
.photo2 .photo1{
		
		position:absolute;
		transform:rotate(-2deg);
		
	}
	.photo2 .photo2{
		margin-top:-15%;
		margin-left:24%;
		
		position:absolute;
		transform:rotate(-2deg);
	}
.main_banner5 img{
	height:250px; width:210px;
}
.main_banner7 img{
	margin-top:5%;
	width:100%;
}
.slider_img{
	position:relative;
}
.banner_slider .slick-next{
	
}
.slider_img .slick-dots{
	position:absolute;bottom:0;
	left:0;
	width:100%;z-index:10;
	text-align:center;
	
}

.slider_img .slick-dots li.slick-active{
	background-color:#fff;
}


.slider_img .slick-dots li{
	
	list-style:none;
	width:20px;
	height:20px;
	background-color:#5224ad;
	border-radius:50%;
	display:inline-block;
	margin:0 -10px 20px 30px;
	
	
}


.slider_img .slick-dots li button{
	display:none;
	
}
.main_banner8 img{
	width:100%;
}

.footer-top{background-color:#5218b5;
height:350px;
width:100%;}
.footer-top h3{
	margin-top:35px;
	white-space: nowrap;
	font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
}
.footer-top ul li{
	color:#fff;
	margin-top:25px;
	
}
.footer-top li i{
	font-size:22px;
	padding-right:10px;
}
.footer-top li  a{
	text-decoration:none;
	font-family: Montserrat;
		font-style: normal;color: rgba(255,255,255,1);
}
.footer-top img{
	width:250px;
}
.footer-top .bnn1{
	margin-left:55%;
	margin-top:-18.5%;
}

.footer-top button{
	background-color:rgba(255,255,255,1);
	
}
.footer-top button btn2{
	margin-left:2px;
}
.footer-bottom-text{
	text-align:center;
	background:#000;
	line-height:75px;
	color:#fff;
}

.mybtn{
	height: 80px;width: 268px;
}



